---
layout: default
title: "Kathryn Weir"
heading: "Kathryn Weir"
---

<div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="TUC1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="TUC2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="TUC3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a
          class="link"
          href="https://www.samkeogh.net/the-unicorn-is-killed-and-brought-to-the-castle-cartoon"
          >SAM KEOGH: THE UNICORN CARTOONS</a>
</h2>
<div class="content-spacer"></div>
Exhibition tour
<div class="content-spacer"></div>
2027 - 2028
<div class="content-spacer"></div>
Sam Keogh: The Unicorn Cartoons will feature seven large-scale
        sculptural collages, each paired with a performance by the artist. These
        works take the famous 'Unicorn tapestries' as a starting point to deploy
        a critical analysis of the dynamics of gender, race, and class both in
        the pre-modern tapestries and in contemporary mass-media genre fantasy.
        <a class="read-more"
          href="TheUnicornCartoons.html"
         
        >
          [read more]</a>
<div class="content-spacer content-spacer--large"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1DL00lWbPAizBYwcxQDttML2tfpPN7Pcb/view?usp=sharing"
        >
          PUBLICATION</a>
      </div>
    </div>

    <div class="grid-three">
      <div class="grid-item grid-item--text">
        {% include image.html src="lagosbio4.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="https://lagos-biennial.org/lb-2024/"
          >Lagos Biennial 2024: REFUGE</a>
</h2>
<div class="content-spacer"></div>
Tafawa Balewa Square
<div class="content-spacer"></div>
3.2.2024 - 10.2.2024
<div class="content-spacer"></div>
The Lagos Biennial brings together artists who explore how to create an
        operative notion of refuge that can offer alternate paths towards
        constructing renewable communities and work towards ecological justice
        in this historical moment of systemic crisis.
        <a class="read-more"
          href="https://lagos-biennial.org/"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--small"
         
          href="https://lagos-biennial.org/lb-2024/"
        >
          PROGRAMME</a>
      </div>

      <div class="grid-item grid-item--text">
        {% include image.html src="nidhal-chamekh-et-si-carthage.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="AndWhatIfCarthage.html">Et si Carthage?</a>
</h2>
<div class="content-spacer"></div>
Selma Feriani Gallery, La Goulette
<div class="content-spacer"></div>
25.1.2024 - 24.3.2024
<div class="content-spacer"></div>
Taking its title from philosopher Édouard Glissant’s question, ‘What If
        Carthage Hadn’t Been Destroyed?’ – Nidhal Chamekh’s, ‘Et si Carthage’,
        is inspired by the ancient city whose ruins are a ten-minute drive from
        Selma Feriani’s gallery space in downtown Tunis. By speculating on what
        might have happened if Carthage hadn’t been razed, Glissant offers a
        thought experiment in which the Punic people acted as a counterpoint to
        an empire that would go on to form the basis of Western civilization.
        <a class="read-more"
          href="AndWhatIfCarthage.html"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1ZEZTVjDfpt4HTVYtPmAEtB0zTDacwVCT/view?usp=sharing"
        >
          PUBLICATION
        </a>
        <br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.selmaferiani.com/press/13-nidhal-chamekh-reanimates-the-carthaginian-empire-at-selma-feriani-tunis-the-artist-uses-the/"
        >
          MUSEUM SITE
        </a>
      </div>

      <div class="grid-item grid-item--text">
        {% include image.html src="GS1.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a
          class="link"
          href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
          >Green Snake: Women-Centred Ecologies</a>
</h2>
<div class="content-spacer"></div>
Tai Kwun Contemporary
<div class="content-spacer"></div>
25.3.2024 - 1.4.2024
<div class="content-spacer"></div>
Green Snake: women-centred ecologies focuses on the connections between
        art and the larger themes of ecology in the context of rising
        temperatures and extreme weather events. Gathering more than 30 artists
        and collectives from 20 countries, the exhibition presents over 60 works
        that draw on mythologies and world views with women at their heart to
        explore possibilities for other ecological relationships and imagine
        other futures.
        <a class="read-more"
          href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--small"
         
          href="https://www.taikwun.hk/assets/uploads/programme_files/a1WCoGnw3h.pdf"
        >
          PUBLICATION</a>
        <br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
        >
          MUSEUM SITE</a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="JD2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="JD1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="JD3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a
          class="link"
          href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
          >Jimmie Durham: humanity is not a completed project</a>
</h2>
<div class="content-spacer"></div>
MADRE Museum
<div class="content-spacer"></div>
23.12.2022 — 8.5.2023
<div class="content-spacer"></div>
This first retrospective exhibition after his death in late 2021
        features over 150 works, some never previously exhibited. It creates
        links across time periods within thematic sequences, combining elements
        of chronology with a narrative approach and including references to the
        artist’s experiments with spatial strategies in key historical
        exhibitions.
        <a class="read-more"
          href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
         
        >
          [read more]</a>
<div class="content-spacer content-spacer--large"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1K3DbEN2h6jCY9TuHDHOZrEl09bSMZjTq/view?usp=sharing"
        >
          PUBLICATION</a>
        <br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
        >
          MUSEUM SITE</a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="RN1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="RN2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="RN3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a class="link" href="RethinkingNature.html">Rethinking Nature</a>
</h2>
<div class="content-spacer"></div>
MADRE Museum
<div class="content-spacer"></div>
16.12.2021 - 5.4.2022
<div class="content-spacer"></div>
An exhibition, book and series of programmes focussing on contemporary
        artistic research-based practices and critical thinking that are
        contributing to cultural and political processes centring on political
        ecology in different contexts in order to rethink and transform
        conceptions of nature bequeathed by Europe’s Enlightenment paradigms in
        parallel to its imperial expansion.
        <a class="read-more"
          href="RethinkingNature.html"
         
        >
          [read more]</a>
<div class="content-spacer content-spacer--large"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1K3DbEN2h6jCY9TuHDHOZrEl09bSMZjTq/view?usp=sharing"
        >
          PUBLICATION</a>
        <br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.madrenapoli.it/en/exhibition/rethinking-nature/"
        >
          MUSEUM SITE</a>
      </div>
    </div>
    <!-- To add more pics to the slideshow, add +1200px width to .slide-images for every picture and change the slide_animation percentage values around so you have -1200 per image. pic nr 4 will be placed at -1200px and needs 4800 slide-images width and 5 will be placed at -2400px and needs 6000 slide-images width and so on!  -->

    <div class="grid-three">
      <div class="grid-item grid-item--text">
        {% include image.html src="Bellezza-e-Terrore.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="BeautyAndTerror.html"
          >Beauty and Terror: intersections of colonialism and fascism in
          Naples</a>
</h2>
<div class="content-spacer"></div>
Madre museum
<div class="content-spacer"></div>
24.06 — 26.09.2022
<div class="content-spacer"></div>
The exhibition
        <i> Beauty and Terror: sites of colonialism and fascism </i> at the
        Madre museum of contemporary art in 2022 and the subsequent publication
        of the same title took the city of Naples and the Italian context in the
        years around 1940 as points of departure in order to investigate,
        through the eyes of contemporary artists and critical thinkers, the
        history and continuing legacy of the interconnections between
        colonialism and fascism in Italy.<a class="read-more"
          href="BeautyAndTerror.html"
         
        >
          [read more]</a>
<div class="content-spacer content-spacer--large"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1PgN7wD3VqOCSXP-Lybj_QPdITydJAYTb/view?usp=sharing"
        >
          PUBLICATION</a><br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.madrenapoli.it/en/exhibition/beauty-and-terror-sites-of-colonialism-and-fascism/"
        >
          MUSEUM SITE</a>
      </div>

      <div class="grid-item grid-item--text">
        {% include image.html src="GS1.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="https://lagos-biennial.org/"
          >Clément Cogitore Ferdinandea</a>
</h2>
<div class="content-spacer"></div>
Madre museum
<div class="content-spacer"></div>
24.06 — 12.09.2022
<div class="content-spacer"></div>
Clément Cogitore’s new body of work, Ferdinandea, speculates, through
        16mm film, video, photographs and historical documents, on the rise,
        fall and possible reemergence of an ephemeral volcanic island. Today,
        dormant eight meters below the waves, Ferdinandea could at any time
        re-emerge as a result of further seismic activity, and so spark new
        geopolitical manoeuvres. Cogitore orchestrates premonition, observation,
        metaphorical insight and fiction to consider what this tale may tell us
        of our current plight and our possible futures.
        <a class="read-more"
          href="https://www.madrenapoli.it/en/exhibition/clement-cogitore-ferdinandea/"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--small"
         
          href="https://drive.google.com/file/d/1SA-b3NFh0arzO25a6_wp93hP_6QWU7A5/view?usp=sharing"
        >
          PUBLICATION</a>
        <br />
        <a
          class="link action-link action-link--small"
         
          href="https://www.madrenapoli.it/en/exhibition/clement-cogitore-ferdinandea/"
        >
          MUSEUM SITE</a>
      </div>

      <div class="grid-item grid-item--text">
        {% include image.html src="C2-2.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="https://cosmopolis.centrepompidou.fr/home"
          >Utopia Dystopia</a>
</h2>
<div class="content-spacer"></div>
Madre musuem
<div class="content-spacer"></div>
23.10.2019 - 23.12.2019
<div class="content-spacer"></div>
Artists and critical thinkers address questions of technological
        diversity, scale and of social value, reaffirming other modes of
        existence, geographic articulations and cosmologies.
        <a class="read-more"
          href="https://cosmopolis.centrepompidou.fr/about"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://cosmopolis.alanwoo.ca/media/pages/site-content/dd28c9e852-1576147546/cosmopolis-2-brochure.pdf"
        >
          Brochure
        </a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="C2-2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="RN2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="RN3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a class="link" href="https://cosmopolis.centrepompidou.fr/home"
          >Cosmopolis #2: rethinking the human</a>
</h2>
<div class="content-spacer"></div>
Centre Pompidou
<div class="content-spacer"></div>
23.10.2019 - 23.12.2019
<div class="content-spacer"></div>
Artists and critical thinkers address questions of technological
        diversity, scale and of social value, reaffirming other modes of
        existence, geographic articulations and cosmologies.
        <a class="read-more"
          href="https://cosmopolis.centrepompidou.fr/about"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://cosmopolis.alanwoo.ca/media/pages/site-content/dd28c9e852-1576147546/cosmopolis-2-brochure.pdf"
        >
          Brochure
        </a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="CC1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="CC2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="CC3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a
          class="link"
          href="https://web.archive.org/web/20191228223740/http://www.cosmopolischengdu.com/en/"
          >Cosmopolis #1.5</a>
</h2>
<div class="content-spacer"></div>
Mao Jihong Arts Foundation / Centre Pompidou
<div class="content-spacer"></div>
3.11.2018 - 6.01.2019
<div class="content-spacer"></div>
Cosmopolis #1.5: Enlarged Intelligence presents artworks and programs by
        almost 60 artists and groups, exploring ecology, technology and the
        commons, and envisioning how we today may draw on intelligent
        technologies, as well as on ecological intelligence, to advance social
        values—rather than leaving capital to largely define the uses of these
        techniques and knowledge systems.
        <a class="read-more"
          href="https://web.archive.org/web/20191228223740/http://www.cosmopolischengdu.com/en/"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://drive.google.com/file/d/1tG2JgAXRiPcco2fju1qJi9oiJLU_B2sw/view?usp=sharing"
        >
          Publication
        </a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="C1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="C2.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="C3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a
          class="link"
          href="https://www.centrepompidou.fr/en/program/calendar/event/cyEXyLg"
          >Cosmopolis #1 Collective Intelligence</a>
</h2>
<div class="content-spacer"></div>
Centre Pompidou
<div class="content-spacer"></div>
18.10.2017 - 18.12.2017
<div class="content-spacer"></div>
‘Cosmopolis #1′ develops a layered platform of creation and transmission
        of knowledge that incorporates long-term cultural experiments, social
        actions, subjective imaginaries, and transcultural utopias that surpass
        the exhibition format. Through the participation of international artist
        and activist collectives, the exhibition becomes a platform through
        which the collectives’ urban and social programs unfold an agency and
        create interventions—intellectually and physically—in the social space.
        <a class="read-more"
          href="https://www.centrepompidou.fr/en/program/calendar/event/cyEXyLg"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://drive.google.com/file/d/1rZWeCw_Js-6-PaxDAZiSTuEDtoZgT3VE/view?usp=drive_link"
        >
          Publication
        </a>
      </div>
    </div>

    <div class="grid-three">
      <div class="grid-item grid-item--text">
        {% include image.html src="https://collection.qagoma.qld.gov.au/system/files/object-images/1994.091a-dd_006_5.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="https://lagos-biennial.org/"
          >Shigeo Toya’s Woods III.</a>
</h2>
<div class="content-spacer"></div>
Queensland Art Gallery | Gallery of Modern Art
<div class="content-spacer"></div>
September 2014
<div class="content-spacer"></div>
The ‘mori’ (Woods) is not simply the natural forest, but it encompasses
        the forms of the city and nature as viewed from the future. And that
        view from the future can also be called the view that the dead have on
        the present.
        <a class="read-more"
          href="https://collection.qagoma.qld.gov.au/node/48863"
         
        >
          [read more]</a>
      </div>

      <div class="grid-item grid-item--text">
        {% include image.html src="https://cdn.sanity.io/images/m2obzhc2/production/d5e8f63280ae1aa6850ea189dc426e8ea13e638b-1920x1259.jpg?rect=0%2C160%2C1920%2C941&w=1600&h=784&q=90&fit=crop" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a class="link" href="https://www.qagoma.qld.gov.au/exhibition/sublime"
          >Sublime: intimations of infinity</a>
</h2>
<div class="content-spacer"></div>
Queensland Art Gallery | Gallery of Modern Art
<div class="content-spacer"></div>
30.8.2014 - 24.5.2015
<div class="content-spacer"></div>
'Sublime: intimations of infinity' features artists that create effects
        of wonder and uncertainty by engaging with sacred architectures, sublime
        geometries and the power of the natural world.
        <a class="read-more"
          href="https://blog.qagoma.qld.gov.au/author/kathryn-weir/"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
</div>

      <div class="grid-item grid-item--text">
        {% include image.html src="Moff.jpg" %}
<div class="content-spacer"></div>
<h2 class="project-title">
<a
          class="link"
          href="https://www.qagoma.qld.gov.au/exhibition/tracey-moffatt/"
          >Tracey Moffatt: Spirited
        </a>
</h2>
<div class="content-spacer"></div>
Queensland Art Gallery | Gallery of Modern Art
<div class="content-spacer"></div>
25.10.14 - 8.02.2015
<div class="content-spacer"></div>
'Tracey Moffatt: Spirited' showcases the internationally renowned
        Australian artist's recent body of work, 'Spirit Landscapes' 2013,
        together with the premiere of a new video work, Art calls, featuring
        Moffatt as a television talk show host. To complement her own work, the
        artist selected works from the Gallery's Collection that explore a
        spiritual relationship with place.
        <a class="read-more"
          href="https://www.qagoma.qld.gov.au/exhibition/tracey-moffatt/"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://www.taikwun.hk/assets/uploads/programme_files/a1WCoGnw3h.pdf"
        >
          Couldn't find a catalogue</a>
      </div>
    </div>

    <div class="grid-two">
      <div class="grid-item">
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              {% include image.html src="GOMA1.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="Yayoi Kusama.jpg" %}
            </div>
            <div class="img-container">
              {% include image.html src="RN3.jpg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--text">
        <h2 class="project-title">
<a
          class="link"
          href="https://www.qagoma.qld.gov.au/exhibition/21st-century"
          >21st century: art in the first decade
        </a>
</h2>
<div class="content-spacer"></div>
Queensland Art Gallery | Gallery of Modern Art
<div class="content-spacer"></div>
18.12.2010 - 26.4.2011
<div class="content-spacer"></div>
Marking the end of the first decade of this millennium, '21st Century:
        art in the first decade', occupies the entire Gallery of Modern Art and
        focuses exclusively on works created between 2000 and 2010. It includes
        more than 200 works by 140 artists and collaborative groups from more
        than 40 countries.
        <a class="read-more"
          href="https://statements.qld.gov.au/statements/64044"
         
        >
          [read more]</a>
<div class="content-spacer"></div>
<a
          class="link action-link action-link--large"
         
          href="https://www.taikwun.hk/assets/uploads/programme_files/a1WCoGnw3h.pdf"
        >
          Couldn't find a catalogue</a>
      </div>
    </div>
<div class="content-spacer content-spacer--large"></div>
