---
layout: default
title: "Texts"
heading: "Texts"
---

<div class="grid-two">
    <div class="grid-item grid-item--text">
        {% include image.html
        src="https://collection.qagoma.qld.gov.au/system/files/object-images/1994.091a-dd_006_5.jpg"
        %}
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a class="link" href="https://lagos-biennial.org/"
                >ESSAY: Shigeo Toya’s Woods III.</a
            >
        </h2>
        <div class="content-spacer"></div>
        QAGOMA
        <div class="content-spacer"></div>
        September 2014
        <div class="content-spacer"></div>
        The ‘mori’ (Woods) is not simply the natural forest, but it encompasses
        the forms of the city and nature as viewed from the future. And that
        view from the future can also be called the view that the dead have on
        the present.
        <a
            class="read-more"
            href="https://collection.qagoma.qld.gov.au/node/48863"
        >
            [read more]</a
        >
    </div>
</div>

<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="KaranShresthavalvala.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="HerveVeroneseCentrePompidou.jpg"
                    %}
                </div>
                <div class="img-container">
                    {% include image.html src="MuseumSystemWater.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://artandaustralia.com/61_1/p360/curating-as-open-process-conversations-between-political-ecology-and-artistic-research-"
                >Curating As Open Process: Conversations Between Political
                Ecology And Artistic Research
            </a>
        </h2>
        <div class="content-spacer"></div>
        Article
        <div class="content-spacer"></div>
        2027 - 2028
        <div class="content-spacer"></div>
        A reflection on curating as an open, relational process, tracing
        conversations between political ecology and artistic research through
        the <em>Cosmopolis</em> platform and related projects. The article
        considers how artists working across ecological, Indigenous, feminist
        and community-based practices challenge dominant ideas of nature,
        knowledge and the human.
        <a class="read-more" href="CuratingAsOpenProcess.html"> [read more]</a>
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://artandaustralia.com/61_1/p360/curating-as-open-process-conversations-between-political-ecology-and-artistic-research-"
        >
            PUBLICATION</a
        >
    </div>
</div>
