<nav class="crumbs" aria-label="Main navigation">
  <ol>
    <li class="crumb"><a class="headers" href="{{ '/' | relative_url }}">Kathryn Weir</a></li>
    <li class="crumb"><a class="headers" href="{{ '/Curating.html' | relative_url }}">Curating</a></li>
    <li class="crumb"><a class="headers" href="{{ '/Texts.html' | relative_url }}">Texts</a></li>
    <li class="crumb"><a class="headers" href="{{ '/Conversations.html' | relative_url }}">Conversations</a></li>
    <li class="crumb"><a class="headers" href="{{ '/About.html' | relative_url }}">About</a></li>
  </ol>
</nav>
